main.dl{
    gap: 2rem;
}
.info-login{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1.3rem;
    background-color: #99e69e;
    border-radius: 10px;
    align-items: center;
    position: relative;
}
.alert-message-eror{
	background-color: red;
	padding: 1rem 2rem;
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 30;
	border-radius: 10px;
	color: white;
	font-weight: 500;
	animation-name: notif;
	animation-duration: 1s;
	animation-timing-function: ease;
	cursor: pointer;
}
@keyframes notif{
	0%{right: -500px; }
	100%{right: 10px;}
}

.info-login p{
    font-size: 1.1rem;
}
.info-login a{
    padding: 0.7rem 2rem;
    background-color: #409b71;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    transition: all .50s ease;
}
.info-login a:active{
    scale: 0.8;
}

.info-login i{
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 1.3rem;
    padding: 0.7rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}
.d-none{
    display: none!important;
}
.header-detail-lapangan{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.header-detail-lapangan .detail-img{
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    
}
.header-detail-lapangan .detail-img img{
    height: 500px;
    /* width: 78%; */
    flex-grow: 6;
    /* object-fit: cover; */
    /* object-position: center; */
    min-height: 250px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.header-detail-lapangan .detail-img .detail-harga{
    flex-grow: 3;
    padding: 5rem 2rem;
    background-color: #99e69e;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.header-detail-lapangan .detail-img .detail-harga p {
    color: #ffffffc0;
    font-weight: 600;
    font-size: 1.2rem;
}
.header-detail-lapangan .detail-img .detail-harga h1 {
    font-size: 2.4rem;

}

.header-detail-lapangan .detail-judul h1{
    font-size: 2.5rem;
    color: #103327;
}
.header-detail-lapangan .detail-judul p{
    font-size: 1.5rem;
    font-weight: 500;
    color: #52b788;
}

.body-detail-lapangan{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.body-detail-lapangan .form-row{
    display: flex;
    justify-content: space-between;

}
.body-detail-lapangan .form-row .form{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.body-detail-lapangan .form-row .form form{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.body-detail-lapangan .form-row .form input[type="date"]{
    padding: 0.7rem 2rem;
    border: none;
    font-size: 1.1rem;
    border-radius: 10px;
    color: #99e69e;
    font-weight: 700;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
button[type="submit"]{
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    color: white;
    background-color: #409b71;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .50s ease;
}
button[type="submit"]:active{
    scale: 0.8;
}
::-webkit-calendar-picker-indicator{
    cursor: pointer;
    color: #99e69e;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #99e69e;
}
.body-detail-lapangan form.form-jam-booking{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-jam-booking{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.row-jam-booking .card-radio{
    width: 10rem;
    height: 10rem;
    /* background-color: #99e69e; */
    position: relative;
}
.row-jam-booking .card-radio input{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
}
.card-radio .body-radio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100%;
    gap: 1rem;
    border-radius: 10px;
    transition: all .50s ease;
}
.card-radio .body-radio label{
    font-size: 1.17rem;
    font-weight: 700;
}
.card-radio .body-radio p{
    font-weight: 700;
    color: #0000008d;
}
.row-jam-booking .booked{
    background-color: #00000032;
	border-radius: 10px;
}

.row-jam-booking .booked .body-radio label{
	color: rgba(255, 255, 255, 0.527);
}
.row-jam-booking .booked .body-radio p{
	color: #2d572f;
}
input[type="radio"]:checked + .body-radio{
    background-color: #52b788;
    color: white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.603);
}
input[type="radio"]:hover + .body-radio{
    background-color: #52b788;
    color: white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.723);
}
input[type="radio"]:active + .body-radio{
	scale: 0.8;
}

.lanjut-pembayaran{
	z-index: 90;
	position: fixed;
	bottom: -500px;
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	padding: 1.3rem;
	border-radius: 20px 20px 0 0px;
	transition: all 300ms ease;
}

.lanjut-pembayaran .tombol-lanjut-pembayaran{
	width: 80%;
}
.lanjut-pembayaran .tombol-lanjut-pembayaran button[type="submit"]{
	width: 100%;
	font-size: 1.3rem;
}
div.b-hadir{
	bottom: 0;
}

.row-comment-tutor{
	display: flex;
	width: 100%;
	gap: 1.5rem;
	font-size: 2rem;
	margin-top: 6rem;
}

.row-comment-tutor .container-comment{
	background-color: white;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 1.5rem;
	width: 77%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: space-between;
}
.row-comment-tutor .container-comment .row-comment h4{
	font-size: 1.4rem;
}
.row-comment-tutor .container-comment .row-comment{
	display: flex;
	width: 100%;
	gap: 2.4rem;
	flex-direction: column;
}
.row-comment-tutor .container-comment .row-comment .card-comment{
	width: 100%;
	display: flex;
	gap: 1rem;
}
.row-comment-tutor .container-comment .row-comment .card-comment img{
	width: 53px;
	height: 53px;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.row-comment-tutor .container-comment .row-comment .card-comment .content-comment{
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 0.5rem;
}
.row-comment-tutor .container-comment .row-comment .card-comment .content-comment h3{
	font-size: 1.3rem;

}
.row-comment-tutor .container-comment .row-comment .card-comment .content-comment .comment{
	display: flex;
	flex-direction: column;
	background-color: #99e69e;
	border-radius: 38px;
	gap: .6rem;
	padding: 0.5rem 1.1rem;
}
.row-comment-tutor .container-comment .row-comment .card-comment .content-comment .comment p{
	font-size: 1.1rem;
	font-weight: 500;
}
.row-comment-tutor .container-comment .row-comment .card-comment .content-comment .comment span{
	font-size: 1rem;
	text-align: right;
	font-weight: 500;
	color: #00000084;
}
.row-comment-tutor .container-comment form{
	width: 100%;
}
.row-comment-tutor .container-comment form .input-comment{
	width: 100%;
	display: flex;
	gap: 0.5rem;

}
.row-comment-tutor .container-comment form .input-comment input[type="text"]{
	width: 95%;
	border: none;
	outline: none;
	padding: 0.9rem 1rem;
	background-color: #99e69e;
	border-radius: 45px;
	font-weight: 500;
	font-size: 1.1rem;
}

.row-comment-tutor .container-comment form .input-comment button[type="submit"]{
	
	border: none;
	outline: none;
	padding: 1rem;
	font-size: 1.2rem;
	border-radius: 50%;
}

.row-comment-tutor .container-comment form .input-comment button[type="submit"]:active{
	scale: 0.8;
}

.row-comment-tutor .container-tutor{
	width: 33%;
	/* background-color: #081c15; */
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.row-comment-tutor .container-tutor .card-tutor2{
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 2rem;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.row-comment-tutor .container-tutor .card-tutor2 h1{
	font-size: 2.5rem;
	color: #52b788;
}
.row-comment-tutor .container-tutor .card-tutor2 h3{
	font-size: 1.2rem;
	
}
.row-comment-tutor .container-tutor .card-tutor2 p{
	font-size: 0.9rem;
	font-weight: 500;
}
.py form{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.py form h1{
	font-size: 2.5rem;
	text-align: center;
}
.py form .row-payment{
	display: flex;
	gap: 2rem;
	width: 100%;

}
.py form .row-payment .container-customer{
	width: 50%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1.7rem;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.py form .row-payment .container-customer h3{
	font-size: 1.5rem;
}
.py form .row-payment .container-customer .grup-input{
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

.py form .row-payment .container-customer .grup-input label{
	font-size: 1.1rem;
	font-weight: 500;
}
.py form .row-payment .container-customer .grup-input input[type="text"], .grup-input input[type="tel"]{
	border: none;
	outline: none;
	padding: 1rem;
	font-size: 1.1rem;
	font-weight: 600;
	border-radius: 10px;
}
.py form .row-payment .container-customer .grup-input input.readonly[type="text"]{
	background-color: rgba(255, 255, 255, 0.552);
	color: rgba(0, 0, 0, 0.468);
}
.py form .row-payment .container-customer .grup-input small{
	font-weight: 500;
	color: red;
	padding-left: 0.5rem;
}

.py form .row-payment .container-payment{
	width: 50%;
	padding: 2rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 2.9rem;
}
.py form .row-payment .container-payment .ket-payment h3{
	font-size: 1.5rem;
	margin-bottom: 6px;
}
.py form .row-payment .container-payment .ket-payment p{
	font-size: 1rem;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.4);
}

.py form .row-payment .container-payment .grup-payment{
	display: flex;
	flex-direction: column;
	gap: .9rem;
}
.py form .row-payment .container-payment .grup-payment .row-jenis-payment{
	display: flex;
	width: 100%;
	gap: 1.2rem;
	flex-wrap: wrap;
}
.py form .row-payment .container-payment .grup-payment .row-jenis-payment .card-payment{
	width: 110px;
	height: 65px;
	position: relative;
	border-radius: 10px;
}
.py form .row-payment .container-payment .grup-payment .row-jenis-payment .card-payment input{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 4;
	opacity: 0;
	cursor: pointer;
}
.py form .row-payment .container-payment .grup-payment .row-jenis-payment .card-payment .body-payment{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	transition: all .50s ease;
}
.py form .row-payment .container-payment .grup-payment .row-jenis-payment .card-payment .body-payment img{
	padding: 1.4rem;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.py form .row-payment .container-payment .grup-payment .row-jenis-payment .card-payment input[type="radio"]:checked + .body-payment{
	background-color: #ffffff;
	border: 3px solid #409b71;
}
.py form .row-payment .container-payment .grup-payment .row-jenis-payment .card-payment input[type="radio"]:hover + .body-payment{
	background-color: #ffffff;
}
.py form .row-payment .container-payment .grup-payment .row-jenis-payment .card-payment input[type="radio"]:active + .body-payment{
	scale: 0.8;
}
.py form .container-pesanan{
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	border-radius: 10px;
}
.py form .container-pesanan .judul-pesanan{
	display: flex;
	flex-direction: column;
	gap: .3rem;
}
.py form .container-pesanan .judul-pesanan h3{
	font-size: 1.5rem;
}
.py form .container-pesanan .judul-pesanan p{
	font-weight: 600;
	color: #409b71;
}
.py form .container-pesanan .judul-pesanan  p.bcl{
	color: #103327;
}
.py form .container-pesanan .judul-pesanan  p.bcl i{
	color: gold;
}
.container-pesanan .column-struk{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.container-pesanan .column-struk .row-struk{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	gap: 1rem;
	padding-block-end: 15px;
	border-bottom: 2px solid rgba(128, 128, 128, 0.432);
}

.container-pesanan .column-struk .row-struk.none{
	border: none;
}

.container-pesanan .column-struk .row-struk p{
	font-weight: 500;
	/* font-size: 0.9rem; */
	font-size: 1.1rem;
}

.container-pesanan .column-struk .row-struk.none p.total{
	font-size: 1.5rem;
	font-weight: 600;
	color: #409b71;
}
.content-button{
	position: fixed;
	width: 100%;
	left: 0;
	bottom: -500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 200;
	gap: 1rem;
	transition: all .50s ease ;
}
.content-button .container-button {
	background-color: #ffffff;
	padding: 0.5rem;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	z-index: 200;
	gap: 1rem;
	border-radius: 20px;
}
.content-button .container-button .harga-total{
	display: flex;
	justify-content: space-around;
	width: 90%;
	font-size: 1.2rem;
	font-weight: 700;
	align-items: center;
}
.content-button .container-button .harga-total .p2{
	font-size: 2rem;
	color: #52b788;
}
.content-button .container-button button[type='submit']{
	width: 90%;
	padding-block: 1rem;
}
.py .struk{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	flex-direction: column;
}
.py .struk .container-struk{
	background-color: white;
	width: 65%;
	padding: 2rem;
	position: relative;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.py .struk .container-struk .head-struk{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.3rem;
	padding-block: 3rem 1.5rem;
	border-bottom: 5px dashed rgba(0, 0, 0, 0.451);
}
.bl {
	position: relative;
	width: 100%;
}
.bl .bulat{
width: 30px;
height: 30px;
position: absolute;
background-color: #D8F3DC;
border-radius: 50%;
}
.bl .satu{
	left: -45px;
	bottom: -40px;
}
.bl .dua{
	right: -45px;
	bottom: -40px;
}
.py .struk .container-struk .head-struk h1{
	font-size: 2.5rem;
	color: #409b71;
}
.py .struk .container-struk .head-struk p{
	font-size: 1.1rem;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.837);
}
.py .struk .container-struk .head-struk span{
	color: rgba(0, 0, 0, 0.593);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .4rem;
	font-size: 0.9rem;
}
.py .struk .container-struk .head-struk span i{
	font-size: .5rem;
}
.bg-focus{
	position: absolute;
	display: none;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.377);
}
.py .container-struk .cheklis{
	position: absolute;
	top: -40px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
}
.py .container-struk .cheklis .background{
	background-color: white;
	padding: 0.5rem;
	border-radius: 50%;
}
.py .container-struk .cheklis .background i{
	background-color: #409b71;
	color: white;
	padding: 1rem;
	border-radius: 50%;
	font-size: 3rem;
	animation-name: muncul;
	animation-duration: 1s;
}
.container-struk .body-struk{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-bottom: 1.5rem;
}
.container-struk .body-struk .ket-struk{
	display: flex;
	gap: 2.5rem;
	align-items: center;
	padding-block: 2rem;
	border-bottom: 5px dashed rgba(0, 0, 0, 0.451);
}
.container-struk .body-struk .ket-struk i{
	font-size: 4rem;
	color: gold;
}
.container-struk .body-struk .ket-struk .column-struk{
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}
.container-struk .body-struk .ket-struk .column-struk h1{
	font-size: 1.9rem;
	font-weight: 600;
}
.container-struk .body-struk .ket-struk .column-struk p{
	font-weight: 600;
	color: rgba(0, 0, 0, 0.658);
}
.container-struk .body-struk .grup-detail{
	display: flex;
	justify-content: space-between;
}
.container-struk .body-struk .grup-detail p{
	font-size: 1.2rem;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.529);
}
.container-struk .body-struk .grup-detail h3{
	font-size: 1.5rem;
	font-weight: 500;
}
.container-struk .body-struk .metode-pembayaran{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #D8F3DC;
	padding: 2rem 1.5rem;
	border-radius: 10px;
	
}
.container-struk .body-struk .garis{
	border-top: 5px dashed rgba(0, 0, 0, 0.451);
}
.container-struk .body-struk .metode-pembayaran .row-metode{
	display: flex;
	align-items: center;
	gap: 3rem;
	font-size: 1.3rem;
	color: rgba(0, 0, 0, 0.451);
	font-weight: 500;
}
.container-struk .body-struk .metode-pembayaran .row-metode .img-pembayaran{
	width: 90px;
	height: 30px;
}
.container-struk .body-struk .metode-pembayaran .row-metode .img-pembayaran img{
	width: 100%;
}
.container-struk .body-struk .metode-pembayaran i{
	font-size: 1.6rem;
	color: #409b71;

}
.cont-mybooking{
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}
.cont-mybooking .mybooking{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	width: 90%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}
.cont-mybooking .mybooking .header-my{
	padding: 1rem;
	border-bottom: 2px solid rgba(0, 0, 0, 0.221);
}
.cont-mybooking .mybooking .header-my h3 i{
	color: gold;
}
.cont-mybooking .mybooking .body-my{
	display: flex;
	width: 100%;
	gap: 2rem;
	padding: 1.2rem 1rem;
	border-bottom: 3px solid rgba(0, 0, 0, 0.221);
}
.cont-mybooking .mybooking .body-my img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.cont-mybooking .mybooking .body-my .column{
	display: flex;
	flex-direction: column;
	gap: .4rem;
	color: black;

}
.cont-mybooking .mybooking .body-my .column h3{
	font-size: 1.4rem;
	font-weight: 600;
}
.cont-mybooking .mybooking .body-my .column p{
	font-weight: 500;
}
.cont-mybooking .mybooking .footer-my{
	display: flex;
	padding-top: 2rem;
	flex-direction: column;
	width: 100%;
	text-align: end;
	gap: 1.5rem;
}
.cont-mybooking .mybooking .footer-my .total{
	display: flex;
	gap: 2rem;
	justify-content: end;
	align-items: center;
	padding-inline: 1rem;
}
.cont-mybooking .mybooking .footer-my .total p{
	font-weight: 500;
}
.cont-mybooking .mybooking .footer-my .total h3{
	font-size: 1.6rem;
	color: #409b71;
}
.cont-mybooking .mybooking .footer-my .button {
	display: flex;
	justify-content: end;
	gap: 1.7rem;
	padding-right: 2rem;
}
.cont-mybooking .mybooking .footer-my .button a {
	padding: 0.5rem 1rem;
	border-radius: 10px;
	color: white;
	background-color: #409b71;
	transition: all .50s ease;
}
.cont-mybooking .mybooking .footer-my .button a:hover {
	background-color: #103327;
}
.cont-mybooking .mybooking .footer-my .button a:active {
	scale: 0.8;
}
.header-notif{
	display: flex;
	width: 90%;
	padding: 1rem;
	background-color: white;
	border-radius: 10px;
	font-weight: 500;
	font-size: 0.9rem;
}
.body-notifikasi{
	width: 90%;
	/* padding: 1rem; */
	display: flex;
	flex-direction: column-reverse;
}
.body-notifikasi .card-notifikasi{
	border-radius: 5px;
	display: flex;
	gap: 2rem;
	background-color: rgba(255, 255, 255, 0.518);
	padding: 1rem;
	align-items: center;
	border-bottom: 2px solid rgba(0, 0, 0, 0.396);
	transition: all .50s ease;
}
.body-notifikasi a.baca{
	background-color: rgb(255, 255, 255);
}
.body-notifikasi .card-notifikasi:hover{
	background-color: rgba(0, 0, 0, 0.14);
}
.body-notifikasi .card-notifikasi i{
	font-size: 2.3rem;
	color: gold;
}
.body-notifikasi .card-notifikasi .text{
	color: black;
	width: 100%;
	position: relative;
}
.body-notifikasi .card-notifikasi .text .bulat{
	width: 10px;
	height: 10px;
	background-color: #409b71;
	border-radius: 50%;
	position: absolute;
	right: -10px;
}
.body-notifikasi .card-notifikasi .text .jam{
	text-align: end;
	font-size: .9rem;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.508);
}
@keyframes muncul{
	0%{
		
		font-size: 0rem;
	}
	50%{
		font-size: 5rem;
	}
	100%{
		font-size: 3rem;

	}
}

footer {
	padding-top: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1.5rem;
	background-color: #081c1574;
	color: white;
}
footer h1 i {
	color: gold;
}
footer .logo-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	margin: 1rem;
}

.logo-footer a {
	display: flex;
	text-align: center;
	align-items: center;
	padding: 1rem;
	font-size: 1.5rem;
	color: white;
	border-radius: 50%;
	background-color: #1b43328a;
	transition: all 0.5s ease;
}

.logo-footer a:hover {
	background-color: #52b788;
	box-shadow: 3px 5px 11px -3px rgba(0, 0, 0, 0.75);
}

.venue-icon-fasilitas {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	flex-wrap: wrap;
	width: 100%;
}
.venue-icon-fasilitas .circle-fasilitas {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.circle-fasilitas .circle-icon-fasilitas {
	width: 90px;
	height: 90px;
	padding: 1rem;
	border-radius: 50%;
	background-color: #409b71;
}
.circle-fasilitas .circle-icon-fasilitas img {
	width: 100%;
}

footer .menu ul {
	display: flex;
	gap: 1rem;
	padding-bottom: 1rem;
}

footer .menu ul li a {
	font-size: 1.1rem;
	color: white;
}
footer .menu ul li a:hover {
	color: #52b788;
}
footer .copyright {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1rem;
	color: rgba(255, 255, 255, 0.548);
	background-color: #081c15;
}

@media screen and (max-width: 450px) {
	footer .menu ul {
		flex-direction: column;
		text-align: center;
	}
	.layer:hover .atribut-layer p {
		font-size: 1.5rem;
	}
	main.venue {
		padding-inline: 0;
	}
	.tutor h1{
		font-size: 1.4rem;
	}
    .header-detail-lapangan .detail-judul h1{
        font-size: 2.1rem;
    }
	.container-pesanan .column-struk .row-struk p{
		font-size: 0.9rem;
	}
	
}

@media screen and (min-width: 1101px) {
	.nav-mobile {
		display: none;
	}
}
@media screen and (max-width: 1100px) {
	header.sticky .profile-detail {
		right: 5px;
	}
	.layer-lapangan {
		flex-direction: column;
		width: 100%;
		padding: 0;
	}
	.layer-lapangan .word1 {
		padding: 1rem;
	}
	.layer-lapangan .home-img-lapangan {
		order: -1;
		width: 100%;
	}
	.nav-desktop {
		display: none;
	}
	.user-mobile {
		display: block;
	}
	.profile-detail {
		display: none;
	}
	.venues-lapangan {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	.body-venue {
		padding: 0;
	}
	.venues-lapangan .card-lapangan {
		width: 100%;
	}
	div.about {
		flex-direction: column;
	}
	.about section,
	.about aside {
		width: 100%;
	}
	.tutor .row-tutor {
		flex-direction: column;
		flex-wrap: nowrap;
		width: 90%;
		padding: 0px;
	}
	.tutor .row-tutor .card-tutor {
		width: 100%;
		height: auto;
	}
    .header-detail-lapangan .detail-img{
        flex-direction: column;
    }
    .header-detail-lapangan .detail-img img{
        width: 100%;
    }
    .header-detail-lapangan .detail-img .detail-harga{
        width: 100%;
        padding: 1.5rem;
    }
	.body-detail-lapangan .form-jam-booking .row-jam-booking {
		width: 100%;
	}
	.row-comment-tutor{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.row-comment-tutor .container-comment{
		width: 100%;
	}
	.row-comment-tutor .container-tutor{
		width: 100%;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.row-comment-tutor .container-tutor .card-tutor2{
		width: 300px;
		height: 300px;
	}
	.py .struk .container-struk{
		width: 100%;
	}

}
@media screen and (max-width: 960px) {
	.l-2 {
		flex-direction: column;
	}
	.l-2 .word1 {
		padding: 2rem;
		width: 100%;
	}
	.row-comment-tutor .container-tutor .card-tutor2{
		width: 100%;
		height: auto;
	}

}
@media screen and (max-width: 860px) {
	.py form .row-payment{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.py form .row-payment .container-customer, .py form .row-payment .container-payment{
		width: 100%;
	}
	
}
@media screen and (max-width: 550px) {
    main.dl{
        padding-inline: 0.5rem;
    }
	.modal-logout {
		width: 90%;
	}
    .info-login{
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        gap: 1.5rem;
    }
    .body-detail-lapangan .form-row .form form{
        justify-content: center;  
    }
    .body-detail-lapangan .form-row .form form input[type="date"]{
        width: 100%;
    }
    .body-detail-lapangan .form-row .form form button[type="submit"]{
        padding-block: 1rem;
    }
	.lanjut-pembayaran .tombol-lanjut-pembayaran button[type="submit"]{
		font-size: 1rem;
		padding: 1rem;
	}
	.row-comment-tutor .container-comment .row-comment .card-comment .content-comment h3{
		font-size: 1.1rem;
	}
	.row-comment-tutor .container-comment .row-comment .card-comment .content-comment .comment p{
		font-size: 0.9rem;
	}
	.row-comment-tutor .container-comment .row-comment .card-comment .content-comment .comment span{
		font-size: 0.8rem;
	}
	
	

}
@media screen and (max-width: 785px) {
	header a.pt {
		font-size: 1.5rem;
	}

	.word2 {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}
	section.home-lapangan {
		padding: 1rem;
	}
	.home-lapangan .images1 {
		flex-direction: column;
	}
	.home-lapangan .images1 .img-lapang {
		width: 100%;
	}

	.home-fasilitas .logo-fasilitas {
		flex-wrap: wrap;
		padding: 0.5rem;
		width: 100%;
	}

	.menu-venue {
		height: 100px;
		overflow: auto;
		align-items: center;
		/* min-height: 200px; */
		border-top: 2px solid black;
		border-bottom: 2px solid black;
	}
	.menu-venue ul {
		padding-block: 2rem;
		border: none;
		flex-direction: column;
		gap: 7rem;
	}
	.content-button .container-button {
		width: 100%;
	}
	.cont-mybooking .mybooking{
		width: 100%;
	}
	.content-button .container-button .harga-total .p2{
		font-size: 1.5rem;
	}
	.cont-mybooking .mybooking .body-my img{
		height: 80px;
		width: 80px;
	}
	.cont-mybooking .mybooking .body-my .column p{
		font-size: 0.8rem;
	}
	.py .header-notif{
		width: 100%;
	}
	div.body-notifikasi{
		width: 100%;
	}
	div.body-notifikasi .card-notifikasi .text p{
		font-size: 0.7rem;
		text-align: justify;
	}
	div.body-notifikasi .card-notifikasi .text p.jam{
		font-size: .6rem;
		
	}
}
@media screen and (max-width: 700px) {
	.row-img-fasilitas{
		gap: 3rem;
	}
	.row-img-fasilitas .card-img-fasilitas{
		width: 100%;
	}
}
@media screen and (max-width: 655px) {
	.body-detail-lapangan .form-jam-booking .row-jam-booking .card-radio{
		width: 8.5rem;
		height: 8.5rem;
	}
	.body-detail-lapangan .form-jam-booking .row-jam-booking .card-radio .body-radio label{
		font-size: 1rem;
	}
	.alert-message-eror{
		padding: 0.5rem 0.5rem;
		font-size: 0.7rem;
	}
	.content-button .container-button{
		flex-direction: row;
		width: 100%;
		padding-inline: 1rem;
	}
	.content-button .container-button button[type='submit']{
		width: 50%;	
		font-size: 1rem;
	}
	.content-button .container-button .harga-total{
		flex-wrap: wrap;
		width: 50%;
		font-size: 1.1rem;
		gap: 1rem;
	}
	.container-struk .body-struk .ket-struk .column-struk h1{
		font-size: 1.3rem;
	}
	.container-struk .body-struk .grup-detail p{
		font-size: 0.9rem;
	}
	.container-struk .body-struk .grup-detail h3{
		font-size: 1rem;
		font-weight: 500;
	}
	.container-struk .body-struk .metode-pembayaran .row-metode .img-pembayaran{
		width: 50px;
		height: 15px;
	}
	.container-struk .body-struk .metode-pembayaran .row-metode{
		gap: 1rem;
		font-size: 0.8rem;
	}
	.container-struk .body-struk .metode-pembayaran i{
		font-size: 1.3rem;
	}
}