.atas{
    margin-top: -60px;
}

.text-gold{
    color: #FFC94A;
}
.bg-gold{
    background-color: #FFC94A;
}
.text-biru{
    color: #0B2545;
}
.bg-biru{
    background-color: #0B2545;
}
.bg-biru2{
    background-color: #13315C;
}
.bg-ground{
    background-color: #EEF4ED;
}

.margin{
    margin-top: 6em;
}